body {
    box-sizing: border-box;
    background-color: rgb(220, 220, 220);
}
img {
    width: 100%;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
label, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



.form {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
}
.form-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.form-input::placeholder {
    font-size: 12px;
}
.form-submit-btn {
    position: absolute;
    right: 2px;
    top: 7px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mapboxgl-map {
    width: 100%;
    height: 100%;
}
.map-wrap {
    min-width: 270px;
    height: 270px;
    overflow: hidden;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0em 0.5em 0.5em rgba(78, 78, 78, 0.206);
}

.container {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 30px;
    place-content: center;
}

.current-weather {
    height: 100vh;
    margin-left: auto;
    padding: 25px 30px 15px 30px;
    background-color: #fff;
    box-shadow: -200px 100px 0 200px #fff, 2px 0px 10px 5px rgba(103, 103, 103, 0.3)
}
.info-wrap {
    margin-right: auto;
}
.highlights {
    display: grid;
    grid-template-columns: 60% 40%;
}
.highlights-title {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
}
.weather-wrap {
    margin-top: 80px;
    margin-bottom: 30px;
}
.weather-current {
    height: 270px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0em 0.5em 0.5em rgba(78, 78, 78, 0.516);
}
.weather-current-title {
    font-weight: 500;
    margin-bottom: 35px;
}
.weather-current-temp {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
}
.weather-current-icon {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    color: #b51d1d;
}

.weather-daily {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}
.weather-daily-item {
    text-align: center;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0em 0.5em 0.5em rgba(78, 78, 78, 0.206);
}
.weather-daily-day {
    font-size: 14px;
    font-weight: 400;
    color: #827f80;
    margin-bottom: 10px;
}
.weather-daily-temp {
    font-weight: 500;
    margin-bottom: 10px;
}
.weather-daily-icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.weather-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-highlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    height: 270px;
}

.weather-highlights-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0em 0.5em 0.5em rgba(78, 78, 78, 0.206);
}
.weather-highlights-title {
    font-weight: 500;
    font-size: 14px;
    color: #827f80;
}
.weather-highlights-info {
    margin-top: 10px;
    margin-left: 10px;
    color: #000000;
}
.highlights-icon {
    margin-right: 7px;
}


.clock {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../clock.png);
    background-size: cover;
    border: 4px;
    box-shadow: 0em -0.5em 0.5em rgba(255, 255, 255, 0.06),
        inset 0em -0.5em 0.5em rgba(255, 255, 255, 0.06),
        0em 0.5em 0.5em rgba(0, 0, 0, 0.3),
        inset 0em 0.5em 0.5em rgba(75, 75, 75, 0.3);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(157, 157, 157);
    border-radius: 50%;
    z-index: 15;
}

/* body.light .clock:before {
    background: #1a74be;
} */


.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 100px;
    height: 100px;
}

.clock .min,
.mn {
    width: 120px;
    height: 120px;
}

.clock .sec,
.sc {
    width: 140px;
    height: 140px;
}


.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;

}


.hr:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 40px;
    background: #827f80;
    z-index: 10;
    border-radius: 2.8px;
}

.mn:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    background: #000000;
    z-index: 11;
    border-radius: 3px;
}

/* body.light .mn:before {
    background: #091921;

} */


.sc:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 75px;
    background: #ececec;
    z-index: 12;
    border-radius: 3px;
}


.backdrop {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 50;

    

    transition: opacity 500ms linear;
}

.loaders-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: #ececec;
    font-size: 30px;
    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.loader1,
.loader2,
.loader3,
.loader4 {
    background-color: #ececec;
    width: 10px;
    height: 50px;
    scale: 1;
    
}
.loader1, 
.loader2,
.loader3 {
    margin-right: 30px;
}
.loader1 {
    animation: 500ms linear 0ms infinite alternate loader-scaling;
}
.loader2 {
    animation: 500ms linear 120ms infinite alternate loader-scaling;
}
.loader3 {
    animation: 500ms linear 240ms infinite alternate loader-scaling;
}
.loader4 {
    animation: 500ms linear 360ms infinite alternate loader-scaling;
}

@keyframes loader-scaling {
    from {transform: scale(1);} to {transform: scale(1.3);}
}