.forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;

    @media screen and (min-width:768px) {
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(7, 1fr);
        margin-bottom: 30px;
    }
}