body {
    box-sizing: border-box;
    background-color: rgb(220, 220, 220);
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}